@import "../../../styles/variables.scss";

.filters-weather {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 7px;

  .filters-weather__block {
    display: flex;

    .filters-weather__item {
      font-size: 18px;
      line-height: 22px;
      color: var(#{--text-color-default});
      background: var(#{--block-color-default});
      box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
      border-radius: 5px;
      padding: 9px 20px;
      cursor: pointer;

      &:nth-child(2) {
        margin: 0 15px;
      }

      &:hover {
        background: $blue;
        color: $white;
        transition: 0.5s ease-in-out;
      }
    }
  }

  .filters-weather__cancel {
    font-size: 18px;
    line-height: 22px;
    color: var(#{--text-color-default});
    background: var(#{--block-color-default});
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 5px;
    padding: 9px 20px;
    cursor: pointer;

    &:hover {
      background: $blue;
      color: $white;
      transition: 0.5s ease-in-out;
    }
  }
}
