.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: auto;
}

.swiper-pagination-horizontal {
  top: 270px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}